.foto1{
    border: 20px solid #008000;
    border-left: 20px solid yellow;
    background-color: #008000;
    margin-right: 2104px;
    

}
.foto2{
    border: 20px solid rgba(0, 243, 243, 0.39);
    border-left: 20px solid yellow;
    background-color: rgb(60, 255, 0);
    margin-right: 2104px;
}
.foto3 {
    border: 40px solid rgb(128, 0, 85);
    border-left: 40px solid blue;
    border-right: 40px solid rgb(128, 0, 85);
    background-color: blue;
    margin-right: 2104px;
}